/* 基础样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 14px;
}

body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

i {
  font-style: normal
}

button,
input {
  outline: none;
  border: none;

  &:active {
    outline: 2px solid rgb(45, 140, 240);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* 公共样式 */
.mr-5 {
  margin-right: 5px;
}

// 列表页面
.list_page {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow-y: auto;

  .top_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    .search_box {
      display: flex;
      .el-button {
        margin-left: 10px;
        height: 37px;
        line-height: 37px;
        padding: 0 20px;
      }
    }

  }

  .table_wrapper {
    height: calc(100% - 96px);
  }

  .warning_table_wrapper {
    height: calc(100% - 247px);
  }

  .el-pagination {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

// 新增编辑页面
.edit_page {
  height: 100%;
  .top_box {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(233, 231, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 16px;
    }

    .el-button {
      height: 37px;
      line-height: 37px;
      padding: 0 20px;
    }
  }

  .edit_content {
    padding: 20px;
    height: calc(100% - 58px);
    overflow-y: auto;

    .u_form {
      max-width: 90%;
      margin: 0 auto;
    }
  }

}


// 表格
.el-table {
  .cell {
    text-align: center;
  }
}

.flex {
  display: flex;
}

/* 浮动样式 */
.h-between {
  display: flex;
  justify-content: space-between;
}
.v-center {
  display: flex;
  align-items: center;
}
.h-end {
  display: flex;
  justify-content: flex-end;
}
.hv-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 文字排版 */
.t-r {
  text-align: right;
}
.t-l {
  text-align: left;
}

.line {
  border-bottom: 1px dashed #DDDEE1;
  margin: 0 0 26px;
}

/* 上传-按钮 */
.el-upload__tip {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #BBBEC4 !important;
  margin-top: 0;
}

/* 上传-图片 */
.avatar-uploader2 .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader2 .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader2 .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px !important;
  text-align: center;
}
.avatar-uploader2 .avatar {
  width: 120px;
  height: 120px;
  display: block;
}

.p-t0 {
  padding-top: 0 !important;
}

.w100 {
  width: 100%;
}

.block {
  display: block !important;
}

.red {
  color: #FF2323 !important;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.drawer-footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
}
.el-drawer__body {
  margin-bottom: 60px;
}
.drawer-content {
  padding: 0 20px;
}

.menu_wrapper .el-menu-item span {
  padding-left: 14px;
}